<form class="form">
      <label>Email</label>
      <input type="email" placeholder="Enter user email">

      <label>Password</label>
      <input type="password" placeholder="Enter password">

      <label>Confirm Password</label>
      <input type="password" placeholder="Confirm password">

      <label>First Name</label>
      <input type="text" placeholder="First Name">

      <label>Last Name</label>
      <input type="text" placeholder="Last Name">

      <label>Organization</label>
      <input type="text" placeholder="Organization">

      <button type="submit">Create User</button>
    </form>