<form class="form" #caForm="ngForm" (ngSubmit)="onSubmit(caForm)">
  <label>Email</label>
  <input type="email" name="email" [(ngModel)]="dto.email" required placeholder="Enter user email">

  <label>First Name</label>
  <input type="text" name="name" [(ngModel)]="dto.name" required placeholder="First Name">

  <label>Surname</label>
  <input type="text" name="surname" [(ngModel)]="dto.surname" required placeholder="Last Name">

  <label>Organization</label>
  <input type="text" name="organization" [(ngModel)]="dto.organization" required placeholder="Organization">

  <button type="submit" [disabled]="!caForm.form.valid">Create User</button>
</form>
