<form class="form" (ngSubmit)="submitTemplate(templateForm)" #templateForm="ngForm">

  <!-- Template Name -->
  <label>Template Name</label>
  <input type="text"
         [(ngModel)]="templateFormModel.name"
         name="name"
         placeholder="Template Name"
         #name="ngModel"
         required
         (ngModelChange)="name.control.setErrors(customRequired(name.control, 'Enter Template Name'))" />

  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
    {{ name.errors?.['required'] ? '*Enter Template Name' : '' }}
    {{ name.errors?.['nameTaken'] ? '*This template name is already taken' : '' }}
  </div>


  <!-- Issuer -->
  <label>Issuer</label>
  <select [(ngModel)]="templateFormModel.issuerCertificateId" name="issuerCertificateId"
          #issuer="ngModel" required
          (ngModelChange)="issuer.control.setErrors(customRequired(issuer.control, 'Select Issuer'))">
    <option *ngFor="let cert of availableIssuers" [value]="cert.id">{{ cert.commonName }}</option>
  </select>
  <div *ngIf="issuer.invalid && (issuer.dirty || issuer.touched)" class="error">
    *Select Issuer
  </div>

  <!-- CN Regex -->
  <label>Common Name (CN) Regex</label>
  <input type="text" [(ngModel)]="templateFormModel.commonNameRegex" name="commonNameRegex"
         placeholder="e.g. .*\\.ftn\\.com" #cnRegex="ngModel" required
         (ngModelChange)="cnRegex.control.setErrors(customRequired(cnRegex.control, 'Enter CN Regex'))" />
  <div *ngIf="cnRegex.invalid && (cnRegex.dirty || cnRegex.touched)" class="error">
    *Enter CN Regex
  </div>

  <!-- SAN Regex -->
  <label>Subject Alternative Names (SAN) Regex</label>
  <input type="text" [(ngModel)]="templateFormModel.subjectAlternativeNameRegex" name="sanRegex"
         placeholder="Optional regex for SANs" />

  <!-- TTL -->
  <label>Time To Live (days)</label>
  <input type="number" [(ngModel)]="templateFormModel.ttlDays" name="ttlDays"
         placeholder="e.g. 365" #ttl="ngModel" required min="1"
         (ngModelChange)="validateTTL(ttl.control)" />
  <div *ngIf="ttl.invalid && (ttl.dirty || ttl.touched)" class="error">
    {{ ttl.errors?.['required'] ? '*Enter TTL in days' : '' }}
    {{ ttl.errors?.['min'] ? '*TTL must be at least 1 day' : '' }}
  </div>



  <!-- Key Usage Checkboxes -->
  <label>Key Usage</label>
  <div>
    <label *ngFor="let option of keyUsageOptions">
      <input type="checkbox"
             [checked]="isChecked('keyUsage', option)"
             (change)="toggleCheckbox('keyUsage', option)" />
      {{ option }}
    </label>
  </div>

  <!-- Extended Key Usage Checkboxes -->
  <label>Extended Key Usage</label>
  <div>
    <label *ngFor="let option of extendedKeyUsageOptions">
      <input type="checkbox"
             [checked]="isChecked('extendedKeyUsage', option)"
             (change)="toggleCheckbox('extendedKeyUsage', option)" />
      {{ option }}
    </label>
  </div>

  <!-- Submit -->
  <button type="submit">Create Template</button>
</form>

<app-dialog
  *ngIf="showDialog"
  [message]="dialogMessage"
  [type]="dialogType"
  (close)="onDialogClose()">
</app-dialog>
