<app-navbar></app-navbar>

<div class="dashboard-container">
  <h1>CA User Dashboard</h1>

  <!-- Tabs -->
  <div class="tabs">
    <button [class.active]="activeTab === 'issueCerts'" (click)="activeTab='issueCerts'">
      Issue Certificate
    </button>
    <button [class.active]="activeTab === 'viewCerts'" (click)="activeTab='viewCerts'">
      View My Certificates
    </button>
    <button [class.active]="activeTab === 'manageTemplates'" (click)="activeTab='manageTemplates'">
      Manage Templates
    </button>
  </div>

  <!-- Tab content -->
  <div class="tab-content">

    <!-- Issue Certificate Form -->
    <app-create-certification [role]="'ca'" *ngIf="activeTab==='issueCerts'" class="dashbord-column"></app-create-certification>

    <!-- View My Certificates Table -->
    <app-all-certifications [role]="'ca'" *ngIf="activeTab==='viewCerts'" class="dashbord-column" ></app-all-certifications>
    
    <!-- Manage Templates Table/Form -->
    <div *ngIf="activeTab==='manageTemplates'" class="table-container">
      <table>
        <thead>
        <tr>
          <th>Template Name</th>
          <th>CA Issuer</th>
          <th>CN Regex</th>
          <th>SAN Regex</th>
          <th>TTL (days)</th>
          <th>Key Usage</th>
          <th>Extended Key Usage</th>
          <th colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let template of templates">
          <td>{{template.name}}</td>
          <td>{{template.caIssuer}}</td>
          <td>{{template.cnRegex}}</td>
          <td>{{template.sanRegex}}</td>
          <td>{{template.ttl}}</td>
          <td>{{template.keyUsage}}</td>
          <td>{{template.extendedKeyUsage}}</td>
          <td>
            <button class="edit">Edit</button>
          </td>
          <td>
            <button class="delete" (click)="openDeleteDialog(template)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<app-dialog
  *ngIf="dialogVisible"
  [message]="dialogMessage"
  [type]="dialogType"
  (close)="onDialogClose()"
  (confirm)="onDialogConfirm()">
</app-dialog>
